In [1]:
import numpy as np
import pandas as pd

In [2]:
# help(pd.Series)

In [3]:
productNameIndex = ['Phone', 'Laptop', 'Apple', 'T-Shirt'] # Cách 1 để gán labeled index cho value trong Series
totalSoldData = [1230, 1938, 44522, 786]
myProductSeries1 = pd.Series(totalSoldData) 
myProductSeries1 # Hiển thị numeric index (khó nhớ)

0     1230
1     1938
2    44522
3      786
dtype: int64

In [4]:
type(myProductSeries1)

pandas.core.series.Series

In [5]:
myProductSeries2 = pd.Series(totalSoldData, productNameIndex) 
myProductSeries2 # Hiển thị labeled index (dễ nhớ)

Phone       1230
Laptop      1938
Apple      44522
T-Shirt      786
dtype: int64

In [6]:
myProductSeries2['Phone'] # Truy xuất value của 1 labeled index

1230

In [7]:
ages = {'Bob' : 18, 'Jerry': 27, 'John': 20} # Cách 2 để gán labeled index cho value trong Series (dictionary)
myAgeSeries = pd.Series(ages) 
myAgeSeries

Bob      18
Jerry    27
John     20
dtype: int64

In [8]:
myAgeSeries['John']

20

In [9]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'USA': 250, 'India': 200}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [10]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
USA      250
India    200
dtype: int64

In [11]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [12]:
sales_q1['Japan']

80

In [13]:
sales_q1.keys() # Hiển thị tất cả labeled index trong Series

Index(['Japan', 'China', 'USA', 'India'], dtype='object')

In [14]:
[1, 2] * 2 # Sử dụng với Python list (double value)

[1, 2, 1, 2]

In [15]:
np.array([1, 2]) * 2 # Sử dụng với NumPy arrays (broadcasted)

array([2, 4])

In [16]:
sales_q1 * 2 # Sử dụng với Pandas Series (broadcasted)

Japan    160
China    900
USA      500
India    400
dtype: int64

In [17]:
sales_q1

Japan     80
China    450
USA      250
India    200
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [20]:
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [21]:
first_half.dtype # Để ý sales_q1 và sales_q2 là int, khi cộng lại xong thì thành float

dtype('float64')

In [22]:
sales_q1.mul(sales_q2, fill_value=1) # Phép nhân (mul hoặc multiply đều được)

Brazil       100.0
China     225000.0
India      42000.0
Japan         80.0
USA        65000.0
dtype: float64

In [23]:
sales_q1.div(sales_q2, fill_value=1) # Phép chia (div hoặc division đều được)

Brazil     0.010000
China      0.900000
India      0.952381
Japan     80.000000
USA        0.961538
dtype: float64